@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/*
Global Styles
---------------------------------------------------------------------------*/
body {
  font-family: "Source Sans Pro"; }

.container-fluid {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  width: 75%; }

/*
Typography & Links
---------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a {
  color: #00ACC8;
  text-decoration: none; }
  a:hover {
    color: #007299;
    text-decoration: none; }