@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Portshowlio-created media queries for about*/


@media (max-width: 992px) {/*-------responsive about----*/

.column .days {
   font-size: 3em !important;
}
.column .hours {
   font-size: 3em !important;
}
.column .minutes {
   font-size: 3em !important;
}
.column .seconds {
    font-size: 3em !important;
}


}
@media (max-width: 768px) {/*-------responsive about----*/
/*h3.about_contact {
  text-align: center;
}
.col-xs-12.about_contact_small p {
  text-align: center;
}*/
.about-mobile-only {
  display: block;
  margin: 0 auto;
}

.about_mobile{
   margin:0 auto !important;
}
.countdown .col-xs-2 {
  width: 22.667%;
}

.countdown {
  text-align: center;
}

  .about-mobile-only {
    display: none;
  }

footer {
  margin-top:180px;

}

@media only screen and (max-device-width: 768px) {/*-------responsive about----*/



.about_welcome_text h4 {
   margin-top:5% !important;
   margin: 0 auto !important;
   text-align: center !important;
   margin-bottom:10% !important;
}

@media only screen and (max-device-width: 400px) {/*-------responsive about----*/

  .column .days, .column .hours, .column .minutes, .column .seconds {
    font-size: 3.15em !important;
    text-align: center;}

footer {
  margin-top: 130px
}

.about_map {
   display:none!important;
}


}
